* {
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    height: 1626px;
}
.wrap{
    width: 1280px;
    height: 1626px;
    background: #f5f6f7;
    border: 1px solid transparent;
}
.nav{
    width: 1280px;
    height: 81px;
    text-align: center;
    /*margin: 32px 65px 35px 65px;*/
}
a {
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier,sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size:22px;
    color: #16a085;
    margin: 32px 30px 35px 30px;
}
.img{
     width: 1280px;
     height: 790px;
 }
.text{
    height: 650px;

}
h1{
    margin-top: 56px;
    margin-bottom: 34px;
    margin-left: 342px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(55, 55, 55, 255);
    text-align: left;
}
.paragr{
    width: 1059px;
    height: 354px;
    text-align: center;
    margin-left: 113px;
}

p{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 21px;
    /*font-weight: bold;*/
    color: rgba(55, 55, 55, 255);
    text-align: center;
}
button{
    margin: 41px 453px 94px 414px;
    color: #ffffff;
    /*margin: auto;*/
    font-size: 16px;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    text-transform: uppercase;
}
.footer{
    background-color:#ffffff;
    /*text-align: right;*/
    height: 128px;
}
.txt{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: right;
    padding-top: 47px;
    margin-right: 104px;
}