*{
    margin: auto;
    padding: 0;
}

.wrapper{
    width: 1366px;
    height: 768px;
    border: 1px transparent solid;
    background-image: url("image/background.png");
}
header{
    width: 1065px;
    height: 46px;
    margin: 49px 147px auto 155px;
    border: 1px transparent solid;
}
.logo{
    float: left;
    box-sizing:border-box ;
    width: 163px;
    height: 46px;
}
a{
    display:inline-block;
    text-decoration:none;
}

.logo a{
    text-transform: uppercase;
}
.bg_house{
    float: left;
    width: 44px;
    height: 46px;
    background-image: url("image/logo.png") ;
}
.bg_house:hover{
    background-image: url("image/logo_hover.png");
}

.bg_house:hover~.logo a{
    color: #f26522;
}

.milan{
    float:left;
    height: 20px;
    padding-left: 15px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 29px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.holidays{
    padding-top:9px;
    padding-left: 16px;
    float: left;
    clear:both;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier,sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.logo_cont{
    width: 243px;
    margin-top: 3px;
    margin-left: 822px;
}
.contact{
    float: right;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

main{
    width:1120px;
    height:554px;
    margin:45px 148px 40px 157px;
}
.wrap_img{
    float: left;
    width: 307px;
    height:262px;
    margin-right: 66px;
    margin-bottom: 30px;
}
.image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 307px;
    height: 200px;
    text-align: center;
    border-left: 3px solid;
    border-right: 2px solid;
    border-top: 3px solid;
    border-image-source: linear-gradient(to bottom, #fdfdfd, black);
    border-image-slice: 1;
}

.info{
    display:block;
    margin-top: 20px;
    margin-left: auto;
    /*padding-bottom: 59px;*/
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    vertical-align:center ;
}
.info_hover{
    display: none;
    width: 312px;
    height: 63px;
    background:#f26522;
    margin-left: -3px ;
    margin-top:139px ;
    border-top: 1px transparent solid;
    opacity: 1;
}

.image:hover .info_hover{
    display: block;
    /*transition: 8s;*/
}

.image:hover + .info{
    color:#f26522;
}
.extra_one {
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 10px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin: 16px auto auto 21px;
}
.extra_two{
    display: inline-block;
    float:left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left:21px;
    margin-right:130px;
}
.extra{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}
.extra::after{
    /*display: inline-block;*/
    content:'\003E';
    color: white;
    font-size: 14px;
}

footer{
    width: 349px;
    height:12px;
    /*border: 1px red solid;*/
    margin:0 150px 0 512px;
}
p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
