@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    padding: 0;
    margin: 0;
}

a{
    font-family: "Verdana", sans-serif;
    text-decoration: none;
    color: white;
}
.wrap{
    background: url("../image/bg.png")no-repeat center top fixed;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: calc(100vh - 56px);
}
.menu{
    margin: auto;
    width: 100%;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.4);
}
.logo{
    margin: 22px auto 19px 81px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    color: rgba(255, 255, 255, 255);
    float: left;
}
.logo:hover{
    color:#3cb878;
}

.info{
    float: right;
    border-left: 1px #34312f solid;
    padding-left: 25px;
}
.authent{
    float: right;
    width: 430px;
    margin: 22px 75px 19px auto;
    cursor: pointer;
}
.icon{
    display: inline-block;
    width:28px;
    height: 20px;
    margin-right: 28px;
    color: white;
}
.icon-ic_caledar:hover{
    background-image: url("../image/sprite.png");
    background-position: -56px -19px;
    transition: 15ms;
}
.icon-ic_forum:hover{
    background-image: url("../image/sprite.png");
    background-position: -28px 0;
    transition: 15ms;
}
.icon-ic_journey:hover{
    background-image: url("../image/sprite.png");
    background-position: -20px -20px;
    transition: 15ms;
}
.link{
   color: #3cb878;
}
.link:hover{
   border-bottom: 1px #3cb878 solid;
}

.registry{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -45%);
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 15px;
}
.registry_form{
    margin: 29px 60px auto 62px;
    width: 326px;
    height: 528px;
    /*border: 1px crimson solid;*/
}

.registry:before{
    position: absolute;
    top: 29px;
    content: '';
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.registry_form_sing{
    float: left;
    display: inline;
    font-family: ﻿Verdana,sans-serif;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}

.registry_form_log{
    display: inline;
    height:17px;
    float: right;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    color: rgba(60, 184, 120, 255);
    vertical-align: center;
}

.block_registry{
    text-align: center;
    height: 19px;
    margin-bottom:15px;
}
span{
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    vertical-align: middle;
    margin-top: 14px;
}
.fb{
    display: inline;
    margin-top: 15px;
    float: left;
    width: 157px;
    height: 46px;
    border-radius: 4px;
    border: transparent;
    background-color: #264b96;
}
.fb::after{
    clear: both;
}
.google{
    margin-top: 15px;
    float: right;
    width: 157px;
    height: 46px;
    border-radius: 4px;
    border: transparent;
    background-color: #df4a32;
}
.google::after{
    clear: both;
}
.social_facebook{
    width: 36px;
    height: 27px;
    float: left;
    clear: both;
    text-align: center;
    border-right: 1px solid darkblue;
    margin: 11px auto 13px 17px;
}
.social_google-pluse{
    width: 34px;
    height: 30px;
    float: left;
    clear: both;
    text-align: center;
    border-right: 1px solid #af3a28;
    margin: 11px auto 13px 17px;
    padding-right: 10px;
}
.block_btn{
    clear:both;
    justify-content: space-between;
}
.div-or-line {
    clear: both;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 18px;
    color: #cecece;
}

.title:before, .title:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 147px;
    height: 1px;
    background: #eaeaea;
    border: solid #FFF;
    border-width: 0 10px;
}

.title:before {
    margin-left: -100%;
}

.title:after {
    margin-right: -100%;
}
/*.form{*/
/*    margin-right: 60px;*/
/*    margin-left: 62px;*/
/*}*/
.div-fields input {
    padding-left: 19px;
    outline: none;
}

.div-fields input:active{
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12);
    outline: none;
}

.form .div-fields input.div-firstName {
    margin-bottom: 17px;
}
.form .div-fields input,
.form input.inp-btn {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    border: 1px #cecece solid;
}

.form input.inp-btn {
    background-color: #3cb878;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.form input {
    margin-bottom: 9px;
    border-radius: 2px;
}

 .new-style-chkbx a {
    color: #63c693;
}

.new-style-chkbx a:hover {
    border-bottom: #3cb878 1px solid;
}


.form input[type="checkbox"] {
    display: none;
}

.form label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
    font-weight: normal;
    font-style: normal;
}

.form label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 15px/20px FontAwesome; /* шрифт Awesome*/
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #cecece;
    border-image: initial;
    vertical-align: middle;
    border-radius: 2px;
}

.form input:checked + label:before {
    content: "\f00c";
    color: #3cb878;
}

.form input:disabled + label:before {
    background: #eee;
    color: #aaa;
}

.new-style-chkbx {
    margin-top: 5px;
}
