/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-ic_caledar{
  background-image: url(../image/sprite.png);
  background-position: -56px 0px;
  width: 19px;
  height: 19px;
}
.icon-ic_caledar_green {
  background-image: url(../image/sprite.png);
  background-position: -56px -19px;
  width: 19px;
  height: 19px;
}
.icon-ic_forum{
  background-image: url(../image/sprite.png);
  background-position: 0px 0px;
  width: 28px;
  height: 20px;
}
.icon-ic_forum_green {
  background-image: url(../image/sprite.png);
  background-position: -28px 0px;
  width: 28px;
  height: 20px;
}
.icon-ic_journey{
  background-image: url(../image/sprite.png);
  background-position: 0px -20px;
  width: 20px;
  height: 20px;
}
.icon-ic_journey_green {
  background-image: url(../image/sprite.png);
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
}
