.sixth_block{
    height: 960px;
    /*border: 1px solid palevioletred;*/
}
.size{
    width: 263px;
    height: 208px;
    display: flex;
    justify-content: flex-end;
   }
.six_bl_photo{
    margin: 0 auto;
    width:1190px ;
    height:760px;
    /*border: red 1px solid;*/
}
.text1{
    width: 263px;
    height: 72px;
    background: #f8fcfe;
    border: 1px #ececec solid;
  }
.square{
    background: #203e38;
    width:68px ;
    height:68px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.six_bl_wrap{
    display: inline-block;
    margin-right: 28px;
    margin-top: 45px;
}
.amazingBlog{
    margin: 14px 53px auto 13px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier;
    font-size: 18px;
    color: rgba(113, 113, 113, 255);
    text-align: center;
}
.amazingBlog:hover{
    color: #18cfab;
}
.six_bl_wrap:hover .square{
    background-color: #18cfab;
}
.block_comment{
    margin: 8px 66px 12px 17px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    text-align: center;
}
.six_bl_wrap span {
    display: block;
    text-align: center;
    justify-content: center;
}
.photo1{
    background-image: url("../image/blocl_six/photo1.png");
}
.photo2{
    background-image: url("../image/blocl_six/photo2.png");
}
.photo3{
    background-image: url("../image/blocl_six/photo3.png");
}
.photo4{
    background-image: url("../image/blocl_six/photo4.png");
}
.photo5{
    background-image: url("../image/blocl_six/photo5.png");
}
.photo6{
    background-image: url("../image/blocl_six/photo6.png");
}
.photo7{
    background-image: url("../image/blocl_six/photo7.png");
}
.photo8{
    background-image: url("../image/blocl_six/photo8.png");
}
.breaking_six_bl{
    display: inline-block;
    margin-top: 84px;
    margin-left: 827px;
    margin-bottom: 30px;
}
.info_person{
    display: none;
}
.data{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 15px;
}