.block_color_opacity{
    background-image: url("../image/Sections background/bg_bl_04.jpg");
    height: 476px;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken ;
    border: 1px transparent solid;
}
.title_four_bl {
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 40px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    margin: 77px 404px 0px 403px;
}
.four_bl-text_Smooth{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    /*margin-bottom: 75px;*/
}
.four_bl_btn{
    margin-right: 133px;
    margin-top: 60px;
}
