* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 1200px;
    width: 1920px;
    height: 100%;
    margin: 0 auto;
    /*background-color: black;*/
}
li{
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
span{
    display: block;
}

.first_block{
    background-image: url("../image/Sections background/bg_bl-01.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1012px;
    border: 1px solid transparent;
}
.btn_green,.btn_lightblue{
    float:right;
    width: 166px;
    height: 61px;
    text-transform: uppercase;
    color: white;
    background-color: #18cfab;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-radius: 5px;
    border-top: 3px solid white;
}
.btn_lightblue{
    background-color: #00cbf6;
    margin-right:28px;
}

.header_top{
    display: grid;
    grid-template-columns: 58px 1fr;
    grid-column-gap: 20px;
    padding-top: 28px;
    align-items: center;
    height: 120px;
    background-image: url("../image/Rectangle 4@1X.png");
}
.header_logo{
    display:inline-block;
    position:relative;
    margin: 15px auto 25px 300px;
}
.header_logo span{
    display:inline-block;
    position:absolute;
    top:20px;
    left:17px;
}

.menu_list{
    display: flex;
    justify-content: flex-end;
    margin-left: 292px;
    flex-wrap: wrap;
}
.menu_item{
    display: inline-block;
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier,sans-serif;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 5px;
    margin-left: 23px;
    color: #b8b8b8;
    text-transform: uppercase;
    cursor: pointer;
}
.menu_item:last-child{
    margin-right: 255px;
}


.menu_link{
    color: #b8b8b8;
    text-transform: uppercase;
    display: inline-block;

 }
.menu_item:hover,.menu_item:active,.menu_item:focus{
    color: #18cfab;
    /*border-bottom: 2px solid #18cfab;*/
}

div.text{
    clear: both;
    padding: 245px 300px 142px 380px;
    text-align: center;
}

h1{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-ExtraBold, ﻿Courier,sans-serif;
    font-size: 70px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 37px;

}
p{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-ExtraBold, ﻿Courier,sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
p.green-text{
    color: #18cfab;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

h3{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 30px;
    color: rgba(212, 212, 212, 255);
    text-align: center;
}

.btn{
    margin-right:780px;
    /*text-align: center;*/
    /*display: inline-block;*/
    /*line-height: 120%;*/
}
