.third_block{
    border: 1px solid transparent;
    height: 558px;
}
.title_blocks{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    margin-bottom: 26px;

}
.title{
    text-align: center;
    margin-top: 82px;
}
.nav_link {
    width: 192px;
    height: 73px;
    display: inline-block;
    background: #f8fcfe;
    border: 1px #ebebeb solid;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier;
    /*justify-content: center;*/
    font-size: 18px;
    line-height: 73px;
    position: relative;
}
.nav_link:hover{
    background-color: #18cfab;
    color: white;
}
.nav_link:hover::after{
    content: '';
    width: 0;
    border: 15px solid transparent;
    border-top: 15px solid #18cfab;
    position: absolute;
    top: 73px;
    left: calc(50% - 15px);
}

.tabs{
    display: flex;

}
.third-content{
    text-align: center;
    margin:112px 389px 25px 389px ;
}
.text_ourServices{
    width: 927px;
    height: 136px;
    float: right;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light sans-serif;
    font-size: 18px;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
}
.ourServices_photo{
    display: inline-block;
    height: 136px;
    width: 194px;
}
.text_ourServices_wrapp{
  width: 1140px;
    margin-left: 389px;
    margin-bottom: 103px;
 }
.inactive{
    display: none;
}
.active{
    display: block;
}
.visible{
    display: block;
}