.second_block{
 border-color: transparent;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.content_link p{
    display: block;
}
.content_link{
    width: 480px;
    height: 368px;
}
.content_link:nth-child(odd) {
    background-color:#1c2a33;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier,sans-serif;
    font-size: 20pt;
    color: #18cfab;
    text-align: center;
    border-top: 7px solid #18cfab;
 }

.content_link:nth-child(even) {
    background-color: #18cfab;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier,sans-serif;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-top: 7px solid white;
}
.content_name{
    display: inline-block;
    text-transform: uppercase;
    margin-top: 30px;
}
.content_name:nth-child(even){
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.content_name:nth-child(odd){
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier;
    font-size: 20px;
    color: rgba(24, 207, 171, 255);
    text-align: left;
}
.content_icon{
    border: 1px solid transparent;
}
.padd{
    margin-top: 32px;
}
