.seventh_block{
    background-image:url("../image/Sections background/bg_bl_07.jpg") ;
    /*height: 851px;*/
    /*width: 1919px;*/
}

.what_people_say h3 {
    color: #D8D8D8;
    font-size: 36px;
    padding-top: 95px;
    padding-bottom: 30px;
}
.people {
    height: 800px;
}

.quotes {
    padding: 70px 0 40px 0;
    text-align: center;
}

.review {
    text-align: center;
    display: none;
    position: relative;
    z-index: 9999;
    margin-top: -650px;
    background-color: black;
    width: 0;
    height: 0;
}

.visible_review {
    display: block;
}


.review_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light sans-serif;
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    height: 46px;
    display: inline-block;
    width: 1100px;
    margin-left: 411px;
    margin-right: auto;
    text-align: center;
    padding-bottom: 40px;
    line-height: 30px;
}

.review_name {
    color: #18cfab;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-left: 920px;
    margin-top: 43px;
}

.review_position{
    color: #D4D4D4;
    font-size: 15px;
    margin-left: 915px;
}

.review_photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0 0 12px rgba(25,234,196,0.9);
    margin: 27px auto auto 878px;
}

.first_photo, .fifth_photo{
    background: url(../image/block_seven/man.png) no-repeat center;
    background-size: cover;
}

.second_photo, .sixth_photo {
    background: url(../image/block_seven/man_glasses.png) no-repeat center;
    background-size: cover;
}

.third_photo, .seventh_photo {
    background: url(../image/block_seven/brunet.png) no-repeat center;
    background-size: cover;
}

.fourth_photo, .eighth_photo {
    background: url(../image/block_seven/blond.png) no-repeat center;
    background-size: cover;
}


.arrow {
    width: 30px;
    height: 30px;
    color: #D4D4D4;
    background-color: transparent;
    border: 1px solid #D4D4D4;
    display: block;
    position: absolute;
    z-index: 999;
}

.arrow:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    transition: 0.5s ease;
}

.previous {
    left: 10px;
}
.next {
    right: 10px;
}
.carousel {
    position: relative;
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    margin-top: 450px;
}

.gallery {
    position: absolute;
    width: 378px;
    overflow: hidden;
    margin-left: 75px;
}

.carousel_ul {
    width: 770px;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
    transition: all ease 1s;

}

.gallery ul li {
    display: inline-block;
}

.item {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 0 0 10px rgba(34,149,138,0.9);
    margin-right: 30px;
}

.item.active_item {
    border: 2px solid #18cfab;
    box-shadow: 0 0 15px rgba(25,234,196,0.9);
    margin-bottom: 12px;
}

.item:hover {
    border: 2px solid #18cfab;
    box-shadow: 0 0 15px rgba(25,234,196,0.9);
    transition: ease-in-out 0.5s;
    margin-bottom: 12px;
}


.index1, .index5 {
    background: url(../image/block_seven/man.png) center;);
    background-size: cover;
}
.index2, .index6 {
    background: url(../image/block_seven/man_glasses.png) center;);
    background-size: cover;
}
.index3, .index7 {
    background: url(../image/block_seven/brunet.png) center;);
    background-size: cover;
}
.index4, .index8 {
    background: url(../image/block_seven/blond.png) center;);
    background-size: cover;
}


