.eighth_block {
    font-size: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    color: #bbb;
    background-color: #22353f;
    margin-bottom: 10px;

}
.eighth_block span{
    display:inline;
}
.footer {
    color: #18cfab;
}
