.fifth_block{
    background-color: #f8fcfe;
    border: 1px transparent solid;
}
.double_divide_line {
    width: 88px;
    margin-left: auto;
    margin-right: auto;
}

.first_line {
    width: 76px;
    border-bottom: 1px solid #18cfab;
    margin-bottom: 3px;
}
.second_line {
    width: 76px;
    border-bottom: 1px solid #18cfab;
    margin-left: 12px;
}

.fifth_bl_btn {
    margin: 71px 877px 0 878px;
}
.input{
    margin-bottom: 100px;
}
.our_amazing_work {
    background-color: #f8fcfe;
    text-align: center;
}

.our_amazing_work h3 {
    padding-top: 95px;
    padding-bottom: 25px;
    color: #4E4E4E;
}

.list_of_amazing_works {
    width: 610px;
    margin: 70px auto 70px auto;
}

.list_of_amazing_works ul {
    display: inline-grid;
    grid-template-rows: 60px;
    grid-template-columns: 80px 150px 120px 150px 110px;
    justify-content: center;
}

.list_of_amazing_works ul li {
    border: 1px solid #ececed;
    font-size: 15px;
    text-align: center;
    background-color: #fff;
    padding-top: 20px;
    color: #717171;
    cursor: pointer;
}

.list_of_amazing_works ul li:hover {
    color: #18cfab;
    border-top: 3px solid #18cfab;
    padding-top: 22px;
    transition: 0.5s ease;
}


.amazing_images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*height: 620px;*/
    width: 1137px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


.vision_first, .vision_second {
    display: none;
}

.amazing_images_hover {
    position: relative;
}



.hover_block {
    width: 284px;
    height: 206px;
    border-top: 2px solid #18cfab;
    display: none;
    /*margin: auto;*/
    position: absolute;
    top: 0;
    background-color: #f8fcfe;
    text-align: center;
}

.creative_des {
    color: #18cfab;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 110px;
}

.web_des {
    color: #717171;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 13px;
}

.circle {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #f8fcfe;
    border: 1px solid #18cfab;
    text-align: center;
    position: absolute;
    margin: 35px 0 0 100px;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #18cfab;
    text-align: center;
    position: absolute;
    margin: 36px 0 0 145px;
}
.fas.fa-link {
    color: #18cfab;
    padding-top: 12px;
}
.fa-search.fig {
    color: #fff;
    padding-top: 12px;
    font-size: 16px;
}

.figures {
    position: relative;
}
.space{
    clear: both;
    float: left;
    /*height: 1px;*/
    /*border: 1px transparent solid;*/

}
.amazing_images_hover:hover .hover_block{
    display: block;
}