* {
    margin: auto;
    padding: 0;
}
html{
    background: #333333;
}
.wrapper{
    background: white;
    width: 1480px;
    height: 1282px;
    border: 1px transparent solid;
}
.main_block{
    width: 1280px;
    height: 1193px;
    margin-top: 61px;
    border: 1px transparent solid;
}
.logo{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin-bottom: 45px;
}
a{
    color: black;
    text-decoration: none;
}
.color{
    color: #4bcaff;

}
.header{
    height: 69px;
    background: #35444f;
}
.menu_header{
    text-align: center;
    margin: 0 auto;
}
.menu{
    list-style: none;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular,sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 20px 10px;
    margin-right: 25px
}
.menu:hover{
    background: #222f3a;
    border-right: 1px #818181 solid;
    border-left: 1px #818181 solid;
}

.nav{
    float: left;
    clear: both;
    width: 344px;
    height: 399px;
    margin-top: 51px;
    /*display: inline-block;*/
    border: 1px #35444f solid;
}
.menu_nav{
    display: block;
    height: 20%;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    list-style: none;
    font-size: 30px;
    color: rgba(72, 88, 99, 255);
    /*text-align: left;*/
    padding-left: 44px;
    padding-top: calc(20% - 45px);
    box-sizing: border-box;
}
.menu_nav:hover{
    background: #dbdbdb;
    color: black;
    text-align: center;
    vertical-align: middle;
    border-left-color: #35444f;
    padding-left: 0;
}

.image{
    float: right;
    margin-top: 51px;
    text-align: center;
    width: 885px;
    height: 529px;
    border: 1px #35444f solid;
}
img{
    margin: 75px 268px 73px 297px;
    transition: 1s transform ease;
}
img:hover{
    transform: scale(1.2);

}
.description{
    clear: both;
    margin-top: 50px;
    margin-bottom: 51px;
    float: right;

}
p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular,sans-serif;
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
    text-align: left;
}
.first_description{
    width: 815px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.second_description{
    width: 820px;
    margin-right: 35px;
}
footer{
    clear: both;
    height: 69px;
    margin-top: 51px;
    background:#b4b7ba ;
}
.menu_footer{
    list-style: none;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular,sans-serif;
    font-size: 28px;
    color: rgba(12, 25, 39, 255);
    text-align: left;
    padding: 20px 10px;
    margin-right: 15px
}
.copyright{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular,sans-serif;
    font-size: 24px;
    color: rgba(1, 1, 1, 255);
    margin-left: 80px;
    text-align: right;
}
.footer_link:hover{
    text-decoration: underline;
    color: #3181a6;

}