*{
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-color:#3a4965;
    border-top: 24px solid;
    border-right: 30px solid;
    border-bottom: 32px solid;
    border-left: 22px solid;
    width: 1192px;
    cursor: pointer;
    text-transform: uppercase;
}
td{
    font-family: ﻿﻿Arimo, ﻿Courier;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    width: 157px;
}
.color{
    width: 198px;
    height: 167px;
    border-top: transparent;
}
.green{
    background-color: #89c331;
}
.red{
    background-color: #f04a56;
}
.darkgreen{
    background-color: #20807c;
}

td:nth-child(even) {
    background: #e3e3e3;
}
th:nth-child(even) {
    background: #e3e3e3;
}

.first_th{
    height: 113px;
    background-color: #fafafa;
}
td{
    border-top: 2px solid #cacaca;
    font-family: Arimo, ﻿Courier;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    text-transform: uppercase;
}
th{
    font-family: ﻿FontAwesome, ﻿Arimo-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 24px;
    color: rgba(132, 132, 132, 255);
    text-align: center;
}
i{
    color: #848484;
    transform: scale(1);
    margin-right: 12px;
}
input{
    display: block;
    width: 144px;
    height: 41px;
    background-color: #414141;
    border-radius: 5px;
    border: transparent;
    margin-top: 23px;
}
.btn{
    border-bottom: 3px solid #343434;
    font-family:﻿Arimo-Bold, ﻿Courier;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
p{
    font-family:Arimo-Bold, ﻿Courier;
    /*display: inline-block;*/
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}
.price{
    font-family: ﻿﻿Arimo-Bold, ﻿Courier;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.price99{
    display:inline-block;
    font-family: ﻿﻿Arimo-Bold, ﻿Courier;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    vertical-align: top;
}
.price_pre{
    font-family: ﻿Arimo-Bold, ﻿Courier;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.first_txt{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier;
    font-size: 14px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
.second_txt{
    margin-top:2px;
    display: inline-block;
    font-family: ﻿Arimo-Bold, ﻿Courier;
    font-size: 20px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
.text{
    font-family: ﻿﻿Arimo-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 20px;
    color: rgba(132, 132, 132, 255);
    text-align: center;
}