*{
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    background-color: #fafafa;
    border-color:#3a4965;
    border-top: 24px solid;
    border-right: 30px solid;
    border-bottom: 32px solid;
    border-left: 22px solid;
    width: 1192px;
    cursor: pointer;
}
.white{
    background-color: #fafafa;
    /*width:310px;*/
}
.price {
    float: left;
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    padding-left: 33px;
}

.price99 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 5px;
    text-align: left;
}
.price_pre{
    font-family:﻿Arimo, ﻿Courier;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    text-transform: uppercase;
}

p{
    font-family: ﻿Arimo-Bold;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    text-transform:uppercase;

}
.second_txt{
    font-size: 30px;
}
.color{
    text-transform: uppercase;
}
.green{
    background-color: #89c331;
    width:277px;
}
.red{
    background-color: #f04a56;
    font-size: 30px;
    width:279px;
}
.darkgreen{
    background-color: #20807c;
    width:277px;
}
td{
    height: 69px;
    text-align: center;

}
th{
    font-family: Arimo-Bold;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.first_th{
    height: 113px;
    background-color: #fafafa;
}
td{
    border-left: 3px #e8e8e8 solid;
    font-family: ﻿Arimo, ﻿Courier;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    text-transform:uppercase;
}
tr:nth-child(odd) {
    background: #f2f2f2;
}
tr:nth-child(even) {
    background: #e3e3e3;
}
.btn{
    font-family:﻿Arimo-Bold, ﻿Courier;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.btn:hover{
    border-radius: 50px;
    font-size: 25px;
    box-shadow:0 10px 10px -5px  palevioletred;
    transition: 15ms;
}
.btn_height{
    height: 109px;
}
input{
    border-radius: 5px;
    width: 192px;
    height: 49px;
    border: transparent;
}
.btn_darkgr{
    background-color: #484848;
    border-bottom:9px solid #404040;
}
.btn_green{
    background-color: #89c331;
    border-bottom:9px #79b027 solid;
}
.btn_red{
    background-color: #f04a56;
    border-bottom: 9px #df3a46 solid;
}
.btn_darkgreen{
    background-color: #20807c;
    border-bottom: 9px solid #16736f;
}
i{
    color: #848484;
    transform: scale(1.5);
    margin-right: 12px;
}
.backgraund{
    background-color: #dddddd;
}
.bg_two{
    background-color: #eeeeee;
}